.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #dad7cd;
    padding: 2.5em;
    border-radius: 25px;
    transition: .4s ease-in-out;
    box-shadow: 6px 6px 0px #344e41;
    max-width: 350px;
    margin: 50px auto;
}

.form:hover {
    transform: translateX(-0.5em) translateY(-0.5em);
    border: 1px solid #171717;
    box-shadow: 10px 10px 0px #3a5a40;
}

.heading {
    color: #3a5a40;
    padding-bottom: 2em;
    text-align: center;
    font-weight: bold;
}

.input {
    border-radius: 5px;
    border: 1px solid #588157;
    background-color: #a3b18a;
    outline: none;
    padding: 0.7em;
    transition: .4s ease-in-out;
    color: #3a5a40;
}

.input:hover {
    box-shadow: 6px 6px 0px #969696;
}

.input:focus {
    background: #dfdfcf;
}

.form .btn {
    margin-top: 2em;
    align-self: center;
    margin-left: 0.5em;
    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    border: none;
    color: #dad7cd;
    background-color: #588157;
    transition: .4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.form .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 6px 6px 0px;
    transform: translateX(-0.5em) translateY(-0.5em);
}

.form .btn:active {
    transition: .2s;
    transform: translateX(0em) translateY(0em);
    box-shadow: none;
}
